.div0{
width:90%;
margin:auto;
height:400px;
background-color:violet;
border: 3px blue solid;
display:flex;
}

.div1{
width:20%;
margin:4px;
height:390px;
background-color:cyan;
border: 3px blue dotted;
//float:left;
flex-grow:1;
}

.div2{
width:20%;
margin:4px;
height:390px;
background-color:aquamarine;
border: 3px blue dotted;
//float:left;
flex-grow:1;
}

.div3{
width:20%;
margin:4px;
height:390px;
background-color:lightseagreen;
border: 3px blue dotted;
//float:left;
flex-grow:1;
}

.myspan{
display:block;
}
.ppp{
display:inline;
}

.div4{
width:100px;
height:100px;
background-color:deepskyblue;
border: 2px dashed yellow;
display:inline-block;
vertical-align:middle;
}

.itec1{
list-style-type:none;
text-decoration:none;
}

.itec2{
list-style-type:none;
text-decoration:none;
}

.itec2 li{
display:inline;
}

.itec2 li a:link{
color:magenta;
background-color:navy;
}

.itec2 li a:visited{
color:white;

}

.itec2 li a:hover{
color:yellowgreen;
font-size:20px;
}

.itec2 li a:active{
font-size:40px;
}

.mypic:hover{
border:10px red solid;
}

.mypic:active{
border-color:none;
}
.box1{
width:200px;
height:200px;
background-color:pink;
position:relative;
right:-50px;
bottom:500px;
//right//bottom//left//bottom//
}


.box2{
width:200px;
height:200px;
background-color:brown;
position:fixed;
left:400px;
top:150px;
//right//bottom//left//bottom//
}

.box3{
width:100px;
height:100px;
background-color:blue;
position:absolute;
left:80px;
top:50px;
//right//bottom//left//bottom//
}




























