.boxgg{
height:80px;
width:25px;
background-color:red;
}

.boxhh{
background-color:green;
height:25px;
width:75px;
}


.boxee{
background-color:orange;
height:75px;
width:25px;
color:blue;
}

.boxtop{
background-color:yellow;
height:15px;
width:75px;
}

.boxbot{
background-color:blue;
height:25px;
width:120px;
}




