.table1{
width:80%;
margin:auto;
text-align:center;
background-color:gray;
border:dotted red 5px;
border-spacing:8px 5px;
}

.table2{
width:80%;
margin:auto;
text-align:center;
background-color:gray;
border:dotted red 5px;
border-spacing:8px 5px;
border-collapse:collapse;
}

.table2 tr:first-of-type{
background-color:yellow;
height:100px;
}

.table2 td:last-of-type{
background-color:red;
}

.table2  tr:nth-of-type(1) td:nth-of-type(6){
background-color:yellow;
}



.table3{
width:80%;
margin:auto;
text-align:center;
background-color:gray;
border:dotted red 5px;
border-spacing:8px 5px;
}

.table3 tr:nth-of-type(even){
background-color:yellow;
}
.table3 tr:nth-of-type(odd){
background-color:pink;
}


.table4{
caption-side:bottom;
}
.table4 tr:nth-of-type(3n+1){
background-color:yellow;
}


.table5 tr:nth-of-type(odd){
background-color:pink;
}
.table5 tr:nth-of-type(even){
background-color:yellow;
}
.table5 tr:nth-of-type(1){
background-color:cyan;
}
.table5{
background-color:pink;
}

.table5 caption {
caption-side:bottom;
background-color:red;
}
.table5 td:nth-of-type(2){
background-color:lightblue;
}
.table5 tr:nth-of-type(1) td:nth-of-type(2){
background-color:cyan;
}



.table6{
width:50%;
margin:auto;
text-align:center;
border-spacing:8px 15px;
//border: white 2px solid;
border-collapse:collapse;
}
.table6 caption {
caption-side:top;
font-size:25px;
}


.table6 tr:nth-of-type(1) td:nth-of-type(2){
background-color:gray;
}

.table6 tr:nth-of-type(1) td:nth-of-type(1){
background-color:gray;
}


.table6 tr:nth-of-type(7) td:nth-of-type(1){
background-color:gray;
}


.table6 tr:nth-of-type(7) td:nth-of-type(2){
background-color:gray;
}



.table6 tr:nth-of-type(2) td:nth-of-type(1){
border-bottom:dotted;
border-bottom-color:blue;
}



.table6 tr:nth-of-type(3) td:nth-of-type(1){
border-bottom:dotted;
border-bottom-color:blue;
}


.table6 tr:nth-of-type(4) td:nth-of-type(1){
border-bottom:dotted;
border-bottom-color:blue;
}


.table6 tr:nth-of-type(5) td:nth-of-type(1){
border-bottom:dotted;
border-bottom-color:blue;
}


.table6 tr:nth-of-type(6) td:nth-of-type(1){
border-bottom:dotted;
border-bottom-color:blue;
}

.table6 tr:nth-of-type(2) td:nth-of-type(2){
border-bottom:dotted;
border-bottom-color:blue;
}


.table6 tr:nth-of-type(3) td:nth-of-type(2){
border-bottom:dotted;
border-bottom-color:blue;
}


.table6 tr:nth-of-type(4) td:nth-of-type(2){
border-bottom:dotted;
border-bottom-color:blue;
}


.table6 tr:nth-of-type(5) td:nth-of-type(2){
border-bottom:dotted;
border-bottom-color:blue;
}


.table6 tr:nth-of-type(6) td:nth-of-type(2){
border-bottom:dotted;
border-bottom-color:blue;
}


















