.div1{
background-color:blue;
width:80%;
height:400px;
border:solid 2px red;
margin:auto;
}
.div2{
background-color:pink;
width:80%;
height:200px;
margin:auto;
border:solid 2px red;
}
.div3{
background-color:green;
width:80%;
height:150px;
margin:auto;
border:solid 2px red;
}
.div4{
background-color:pink;
width:40%;
height:150px;
border:solid 2px red;
float:left;
}
.div5{
float:right;
background-color:yellow;
width:40%;
height:150px;
border:solid 2px red;
}
.prev{
float:left;
}
.next{
float:right;
}
.div6{
clear:both;
}


.wrapper{
width:90%;
margin:auto;
height:900px;
background-color:red;
border:solid 2px black;
}
.navigation{
width:15%;
height:800px;
margin:4px;
background-color:yellow;
border:solid blue 2px;
float:left;
}
.navigation2{
width:15%;
height:800px;
margin:4px;
background-color:yellow;
border:solid blue 2px;
float:right;
}

.content{
float:left;
width:65%;
height:800px;
margin:4px;
border:solid blue 2px;
background-color:orange;
}
.header{
width:98%;
margin:4px;
height:80px;
border:solid blue 2px;
background-color:pink;
}
.main{
width:98%;
margin:4px;
height:612px;
border:solid blue 2px;
background-color:pink;
}
.footer{
width:98%;
margin:4px;
height:80px;
border:solid blue 2px;
background-color:pink;
}
.box1{
width:30%;
margin:4px;
height:600px;
border:solid blue 2px;
background-color:pink;
float:left;
}
.box2{
width:30%;
margin:4px;
height:600px;
border:solid blue 2px;
background-color:pink;
float:left;
}
.box3{
width:30%;
margin:4px;
height:600px;
border:solid blue 2px;
background-color:pink;
float:left;
}

.disclamer{
width:98%;
margin:4px;
height:75px;
border:solid blue 2px;
background-color:pink;
}















