body{
background-image:url("asd.jpg");
background-size:100% 100%;
border:dotted white 5px;
display:flex;
}

.main{
float:center;
width:76%;
height:760px;
margin:auto;
text-align:center;
}


.main2{
width:76%;
height:760px;
margin:auto;
text-align:left;
}

.header{
width:98%;
margin:auto;
height:20%;
text-align:center;
font-size:70%;

}

.header2{
width:98%;
margin:auto;
height:3%;
text-align:left;
font-size:70%;
color:black;
}

.pic1{
background-image:url("a.jpg");
width:150px;
height:150px;
float:left;
background-size:100% 100%;
}

.pic2{
background-image:url("a.jpg");
width:150px;
height:150px;
float:right;
background-size:100% 100%;
}

.clear{
clear:both;
}

.content{
padding-top:50px;
margin:auto;
background-image:url("nk.jpg");
background-size:100% 100%;
width:250px;
height:200px;
}

.info{
text-align:left;
position:absolute;
top:3%;
width:75%;
font-size:12px;
}
.info2{

text-align:left;
position:absolute;
top:40.5%;
right:45%;
font-size:12px;
}
.info3{
width:250px;
height:200px;
position:absolute;
top:43%;
right:65.5%;
background-image:url("y.jpg");
background-size:100% 100%;
}
.info4{
position:absolute;
top:72.5%;
right:57%;
font-size:12px;
text-align:left;
}
.info6{
position:absolute;
top:43%;
right:35%;
background-image:url("s.jpg");
background-size:100% 100%;
width:250px;
height:250px;
border:solid red 2px;
}
.info7{
position:absolute;
top:45%;
right:71.5%;
font-size:12px;
text-align:left;
}

.info8{
position:absolute;
top:85%;
right:64.5%;
font-size:12px;
text-align:left;
}


.box{
width:98%;
margin:2px;
height:20%;
text-align:left;
font-size:70%;
color:black;
}

.footer{
text-align:left;
width:104.5%;
margin:auto;
height:80px;
display:flex;
}
.footer2{
position:absolute;
top:104.5%;
right:-5%;
text-align:left;
width:98%;
height:80px;
}
.footer3{
position:absolute;
top:104.5%;
right:-5%;
text-align:left;
width:98%;
height:80px;
}
.info10{
position:absolute;
top:65%;
right:25%;
text-align:left;
font-size:12px;
}
.empty{
width:98%;
height:550px;
}

.info5{

text-align:left;
}

.header3{
width:98%;
margin:auto;
height:3%;
text-align:left;
font-size:70%;
color:white;
}



.p{
color:white;
}

.b{
color:white;
}

.u{
color:white;
}