.letterspace{
letter-spacing:3px;
}

.wordspace{
word-spacing: 30px;
}
.indent{
line-height:100%;
text-indent: 40px;
text-align: justify;
}

.linethrough{
text-decoration:line-through;
text-decoration-style:wavy;
text-decoration-color:red;
font-size:20px;
}

.shadow{
text-shadow:5px 5px 5px red;
font-size:60px;
font-style:italic
}

.outline{
background-color: aqua;
outline-color:red;
outline-style:dashed;
outline-width:4px;
font-size:20px;
}

.yellow{
color:orange;
}

.multicolumn{
column-count:4;
-webkit-column-count:4;
-moz-column-count:4;
-moz-column-gap:30px;
-moz-column-rule-style:inset;
-moz-column-rule-color:green;
-moz-column-rule-width:8px;
-webkit-column-rule:inset green 8px;
}

.colormessage{
cursor:help;
background-color:green;
color:white;
}

.ul{
list-style-image:url("instagram.gif");
}





















